<%= render "game_table_pagination" %>
<table class="highlight centered responsive-table">
    <thead>
        <tr>
            <th>Box Image</th>
            <th>Name</th>
            <th>Categories</th>
            <th>Mechanics</th>
            <th>Player Count</th>
            <% if @group %>
                <th>Group Rating</th>
                <th>Owners</th>
            <% else %>
                <th width="10%">Your Rating</th>
                <th>Actions</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @games.each do |g| %>
            <tr>
                <td><img src="<%= g[:thumb] %>"></td>
                <td><a href="https://boardgamegeek.com/boardgame/<%= g[:bgg_id] %>" target="_blank"><%= g[:name] %></a></td>
                <td><%= g[:categories] %></td>
                <td><%= g[:mechanics] %></td>
                <td><%= g[:player_count] %></td>
                <% if @group %>
                    <td><%= g[:group_rating] %></td>
                    <td><%= g[:owners] %></td>
                <% else %>
                    <td>
                        <form id="r_<%= g[:bgg_id] %>" action="<%= game_path g[:bgg_id] %>" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                            <div class="range-field">
                                <input type="range" name="rating" min="1" max="10" <% if g.include?(:user_rating)%>value="<%= g[:user_rating] %>"<% end %>>
                            </div>
                        </form>
                        <div class="form_result"><% if g[:user_rating] == nil %>Not yet rated<% end %></div>
                    </td>
                    <td>
                        <button class="submit_rating btn-flat waves-effect waves-green tooltipped" data-tooltip="Save this rating" form-target="#r_<%= g[:bgg_id] %>"><i class="material-icons">save</i></button>
                        <% if @home %>
                            <a class="btn-flat waves-effect waves-green tooltipped" href="<%= games_remove_path g[:bgg_id] %>" data-tooltip="Remove from your list" data-method="delete"><i class="material-icons">delete</i></a>
                        <% end %>
                    </td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<%= render "game_table_pagination" %>