<form id="group_name_dropdown" class="dropdown-content" action="<%= groups_show_path @group.id %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="input-field">
        <input type="text" name="group[name]" value="<%= @group.name %>">
    </div>
    <input type="submit" value="Save" class="btn waves-effect waves-light green darker-3">
</form>

<h1><%= @group.name %></h1>
<% if @group.owner == @user %>
    <p><a href="#" class="btn waves-effect waves-light green darker-3 dropdown-trigger" data-activates="group_name_dropdown"><i class="material-icons">edit</i> Group Name</a></p>
<% end %>
<div class="row center">
    <div class="col l4 m6 s12">
        <div id="random_game"></div>
        <form id="random_game_form" action="<%= random_game_path @group.id %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="input_field">
                <label for="random_min_rating">Minimum Group Rating:</label>
                <input type="number" min="1" max="10" name="min_rating" id="random_min_rating">
            </div>
            <button type="submit" class="btn waves-effect waves-light green darker-3" id="random_game_btn"><i class="material-icons">casino</i> Pick a random game!</button>
        </form>
    </div>
</div>
<h3>Members:</h3>
<table class="highlight centered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <% if @group.owner == @user %>
                <th>Actions</th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @group.members.order("username").each do |u| %>
            <tr>
                <td><a href="<%= users_profile_path u.id %>"><%= u.username %></a></td>
                <td><%= u.email %></td>
                <% if @group.owner == @user && u != @user %>
                    <td><a class="btn-flat tooltipped" data-tooltip="Remove from group" href="<%= groups_members_delete_path @group.id, u.username %>" data-method="delete"><i class="material-icons">delete</i></a></td>
                <% end %>
            </tr>
        <% end %>
    </tbody>
</table>
<div class="row">
    <form action="<%= groups_members_path @group.id %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="patch">
        <div class="input-field">
            <select multiple name="new_members[]">
                <option disabled selected>Add members</option>
                <% User.includes(:friends).all.order(:username).each do |u| %>
                    <% if @user.friends?(u) %>
                        <option><%= u.username %>
                    <% end %>
                <% end %>
            </select>
        </div>
        <input type="submit" value="Add to group" class="btn waves-effect waves-light green darker-3">
    </form>
</div>
<div class="row">
    <%= render "game_table" %>
</div>