<h1>Welcome, <%= @user.username %></h1>
<ul class="collapsible popout">
    <li>
        <div class="collapsible-header active"><i class="material-icons">casino</i>My Games</div>
        <div class="collapsible-body">
            <p><a class="waves-effect waves-light btn modal-trigger green darken-3" href="#search_modal">Add Games</a></p>
            <%= render "game_table" %>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">group</i>My Groups</div>
        <div class="collapsible-body">
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Members</th>
                    </tr>
                </thead>
                <tbody>
                    <% @user.groups.each do |g| %>
                        <tr>
                            <td><a href="<%= groups_show_path g.id %>"><%= g.name %><a></td>
                            <td>
                                <% g.members.order(:username).each do |u| %>
                                    <a href="<%= users_profile_path u.id %>"><%= u.username %></a>&nbsp;
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <p><a href="<%= groups_path %>" data-method="post" class="btn-floating waves-effect waves-light green darker-3"><i class="material-icons">add</i></a></p>
        </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">face</i>My Friends</div>
        <div class="collapsible-body">
            <table class="highlight centered">
                <thead>
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Friends?</th>
                    </tr>
                </thead>
                <tbody>
                    <% User.includes(:friends).order(:username).each do |u| %>
                        <% if u != @user && (@user.friends.include?(u) || u.friends.include?(@user)) %>
                            <tr>
                                <td><a href="<%= users_profile_path u.id %>"><%= u.username %></a></td>
                                <td><% if u.friends.include?(@user) %><a href="<%= users_profile_path u.id %>"><%= u.email %></a><% end %></td>
                                <td>
                                    <% if @user.friends?(u) %>
                                        Friends! <a class="btn-flat tooltipped" data-tooltip="Unfriend" href="<%= users_friend_path u.id %>" data-method="delete"><i class="material-icons">delete</i></a>
                                    <% elsif @user.friends.include?(u) %>
                                        Request sent <a class="btn-flat tooltipped" data-tooltip="Cancel Request" href="<%= users_friend_path u.id %>" data-method="delete"><i class="material-icons">cancel</i></a>
                                    <% elsif u.friends.include?(@user) %>
                                        Accept Request? <a class="btn-flat tooltipped" data-tooltip="Accept Request" href="<%= users_friend_path u.id %>" data-method="patch"><i class="material-icons">done</i></a>
                                        <a class="btn-flat tooltipped" data-tooltip="Cancel Request" href="<%= users_friend_path u.id %>" data-method="delete"><i class="material-icons">close</i></a>
                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
            <form action="<%= users_friend_new_path %>" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <div class="input-field">
                    <input type="text" id="friend_autocomplete" name="username" required>
                    <label for="friend_autocomplete">Username</label>
                </div>
                <button type="submit" class="btn waves-effect waves-light green darken-3">Send Friend Request</button>
            </form>
        </div>
    </li>
</ul>

<div id="search_modal" class="modal">
    <div class="modal-content">
        <h4>Search BGG</h4>
        <ul class="tabs s12">
            <li class="tab col s6"><a href="#game_search_tab">By Game Name</a></li>
            <li class="tab col s6"><a href="#user_search_tab">By Username</a></li>
        </ul>
        <div id="game_search_tab" class="col s12">
            <form class="bgg_search" action="/games/search_games" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="text" name="bgg_query" required>
                <input type="submit" class="btn waves-effect waves-light green darken-3" name="search">
            </form>
        </div>
        <div id="user_search_tab" class="col s12">
            <form class="bgg_search" action="/games/search_users" method="post">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="text" name="bgg_query" required>
                <input type="submit" class="btn waves-effect waves-light green darken-3" name="search">
            </form>
        </div>
        <div id="search_results"></div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></button>
    </div>
</div>