<h1>Welcome, <%= @user.username %></h1>
<div class="row">
    <p><a class="waves-effect waves-light btn modal-trigger green darken-3" href="#search_modal">Add Games</a></p>
    <%= render "game_table" %>
</div>
<div class="row">
    <div class="col s4">
    <h3>My Groups:</h3>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <% @user.groups.each do |g| %>
                    <tr>
                        <td><a href="<%= groups_show_path g.id %>"><%= g.name %><a></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
        <p><a href="<%= groups_path %>" data-method="post" class="btn-floating waves-effect waves-light green darker-3"><i class="material-icons">add</i></a></p>
    </div>
    <div class="col s8">
        <h3>Friends:</h3>
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Friends?</th>
                </tr>
            </thead>
            <tbody>
                <% User.includes(:friends).order(:username).each do |u| %>
                    <% if u != @user && (@user.friends.include?(u) || u.friends.include?(@user)) %>
                        <tr>
                            <td><a href="<%= users_profile_path u.id %>"><%= u.username %></a></td>
                            <td><%= u.email %></td>
                            <td>
                                <% if @user.friends?(u) %>
                                    Friends! <a class="btn-flat tooltipped" data-tooltip="Unfriend" href="<%= users_friend_path u.id %>" data-method="delete"><i class="material-icons">delete</i></a>
                                <% elsif @user.friends.include?(u) %>
                                    Request sent <a class="btn-flat tooltipped" data-tooltip="Cancel Request" href="<%= users_friend_path u.id %>" data-method="delete"><i class="material-icons">cancel</i></a>
                                <% elsif u.friends.include?(@user) %>
                                    Accept Request? <a class="btn-flat tooltipped" data-tooltip="Accept Request" href="<%= users_friend_path u.id %>" data-method="patch"><i class="material-icons">done</i></a>
                                    <a class="btn-flat tooltipped" data-tooltip="Cancel Request" href="<%= users_friend_path u.id %>" data-method="delete"><i class="material-icons">close</i></a>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
        <form action="<%= users_friend_new_path %>" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="input-field">
                <input type="text" id="friend_autocomplete" name="username">
                <label for="friend_autocomplete">Username</label>
            </div>
            <button type="submit" class="btn waves-effect waves-light green darken-3">Send Friend Request</button>
        </form>
    </div>
</div>

<div id="search_modal" class="modal">
    <div class="modal-content">
        <h4>Search BGG</h4>
        <form id="bgg_game_search" action="/games/search_games" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <input type="text" name="bgg_query">
            <input type="submit" class="btn waves-effect waves-light green darken-3" name="search">
        </form>
        <div id="search_results">
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-action modal-close waves-effect waves-green btn-flat"><i class="material-icons">close</i></button>
    </div>
</div>