<!DOCTYPE html>
<html>
<head>
  <title>Game Knight</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
  <body>
    <ul id="groups_dropdown" class="dropdown-content">
      <% if @user %>
        <% @user.groups.each do |g| %>
          <li><a href="<%= groups_show_path g.id%>"><%= g.name %></a></li>
        <% end %>
      <% end %>
    </ul>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper green darken-3">
          <%= image_tag 'logo.png', height: "80%", class: "brand-logo left" %>
          <span class="brand-logo center">Game Knight</span>
          <ul id="nav-mobile" class="right">
            <% if user_signed_in? %>
              <li><a class="dropdown-trigger tooltipped" data-tooltip="My Groups" href="#!" data-activates="groups_dropdown"><i class="material-icons">group</i></a></li>
              <li><a class="tooltipped" data-tooltip="Home" href="<%= root_path %>"><i class="material-icons">home</i></a></li>
              <li><a class="tooltipped" data-tooltip="Settings" href="<%= edit_user_registration_path %>"><i class="material-icons">settings</i></a></li>
              <li><a class="tooltipped" data-tooltip="Logout" href="<%= destroy_user_session_path %>" data-method="delete"><i class="material-icons">close</i></a></li>
            <% else %>
              <li><a class="tooltipped" data-tooltip="Register" href="<%= new_user_registration_path %>"><i class="material-icons">add</i></a></li>
              <li><a class="tooltipped" data-tooltip="Login" href="<%= new_user_session_path %>"><i class="material-icons">exit_to_app</i></a></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </div>
    <div class="container">
      <% if flash[:error] %>
        <% flash[:error].each do |e| %>
          <p class="red-text text-darken-3"><i class="material-icons">error</i> <%= e %></p>
        <% end %>
      <% end %>
      <% if flash[:alert] %>
        <p class="red-text text-darken-3"><i class="material-icons">error</i> <%= flash[:alert] %></p>
      <% end %>
      <% if flash[:notice] %>
        <p class="green-text text-darken-3"><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
